<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Footer -->
    <footer style="background-color: #fddeb0;" class=" text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">End Of The World</h5>

                    <p>
                        Thank you so much for visitting my website.This is my first product since i learn web
                        development (my self)
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">THANKS</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Linhh</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Made</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">This</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Blog </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/ruakatalinhlinh" class="text-dark">Facebook</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">YOU</h5>

                    <ul class="list-unstyled">

                        <li>
                            <a href="#!" class="text-dark">Blog</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Author</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Is Linhhh</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/ruakatalinhlinh" class="text-dark">Facebook</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-dark" href="https://www.facebook.com/ruakatalinhlinh/">RuaKataLinh</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>

</html>