<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/detail.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <%include ./components/header%>
        <div class="container">
            <div class="row">
                <div class="intro row">
                    <img class="col-md-6" src="/images/giangoi.jpg" alt="" srcset="">
                    <p class="col-md-12 ">I HOPE YOU LIKE THIS BLOG!</p>
                    <p class="bd col-1"></p>
                </div>
                <div class="blog-text col-9">
                    <h1 class="blog-title">
                        Telesale is the boring work for economic student when graduated?
                    </h1>
                    <h5 class="date">
                        01/03/2021
                    </h5>
                    <div class="blog-content">
                        <img src="https://image.asset.vn//images/Post/Telesales%20ng%C6%B0ng%20ho%C3%A0nh%20h%C3%A0nh%20t%E1%BB%AB%2001102020/HP-Telesales-thumbnail1598514831498.png"
                            alt="" srcset=""><br><br>
                        Today during the break, I went down to the last table to talk to my best friends about what to
                        do and where to work next month when I joind OJT term. Let me tell you who do not know, “I am
                        currently a FPT student, and after the end of term 5, we will have 4 months out to apply for an
                        internship to gain experience and apply the knowledge learned from the year. most ever. A series
                        of superficial answers I heard was "going to sell" but now what to do, now that I don't have
                        knowledge, I should just go to work as telesale. Then “telesale is boring and it is for you guys
                        who don't go to college, and college students who work telesale should be shame on them self.
                        The point of view of the telesale’s hater people is that it is the backup job, the boring job of
                        the economic people like us. So I quite want to prove to you that "Sale is a difficult job and
                        requires a lot of knowledge and skills not everyone can do". If you want to understand some more
                        aspects of the profession Telesales, please read on!
                        <br><br>

                        <i style="color: red;">NOTE: Every legal job is precious. The article outlines a number of
                            aspects based on personal
                            acquisition and analysis, without a handful of chopsticks, and does not represent all
                            Telesales organizations and individuals across the country. </i><br><br>

                        Telesales means sale over the telephone, the short western name of the telemarketing job. This
                        is often considered a job for students and new graduates applying for jobs because it is quite
                        easy to apply for, large and small companies often hire a lot. Job description: go through the
                        training program, grasp the product, read the script (the script), receive the phone number
                        list, settle down on the chair and start calling. Call from start to finish. If you are lucky,
                        you will have the opportunity to meet people who have given you the opportunity to present and
                        find a way to close a successful sale. You will receive a commission on the product you sell,
                        the more you sell, the higher the month-end bonus. If you are unlucky, you will just sit in that
                        chair all day, every day, just call. <br><br>

                        The work seemed to be just sitting in a cold room all day, but in fact, it is extremely hard and
                        suffered a lot of resentment. Being cursed, hung up in the middle, scolded for being scolded is
                        a lot, politely answering or agreeing to buy a new part, very little.<br><br>

                        <h5>So how can customers not refuse to give up their time to listen to your phone, listen to
                            your product introduction. </h5>
                        <img src="https://adsplus.vn/wp-content/uploads/2019/02/telesales-5-compressed-1.jpg" alt=""
                            srcset=""><br><br>
                        1. Listen and categorize.
                        Listen to your customers, pay attention to their information to divide them into market
                        segments. Segmentation by geographic location (regions, regions, demographics (such as age,
                        gender, occupation, income), psychographic segments such as personality, buying habits, and
                        preferences of customers ... You have to know the strengths and weaknesses of customers to know
                        what you need advice to provide them.Customers will be very welcome if you provide them with
                        useful information they do not know or what there is. value to them Don't sell like a robot that
                        can only read the original script. <br><br>
                        2.Know how to tell stories
                        After listening and categorizing customer segments, practice telling stories. Turn information
                        about your product into stories to attract attention and make customers listen to what you have
                        to say. Good point, good point of service in a formula. Turn information about your product into
                        stories to attract attention and make customers listen to what you say. <br> <br>



                    </div>

                    <input type="hidden" name="" id="currentID" value="<%=current._id%>"">   
                </div>
            </div>
            <div class=" row">
                    <div class="col-6 justify-content-right">
                        <%if(previous !=null) {%>
                            <a id="previous" href="#">
                                < <%=previous.title%>
                            </a>
                            <input type="hidden" name="" id="previousID" value="<%=previous._id%>"">   
                    <%}%>
                </div>
                    <div class=" col-6 justify-content-left">
                            <%if(next!=null){ %>


                                <%}%>
                    </div>
                    <hr class=" col-8 justify-content-center">
                </div>

                <div class=" row">
                    <div class="col-12">
                        <p id="comment-count">
                            <%=current.comment.length%> Comments
                        </p>
                    </div>
                    <div id="comment" class="col-8">
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <input type="text" class="col-6" name="username" id="username" placeholder="Tên của bạn">
                            <textarea name="comment" class="col-12" id="usercomment"></textarea>
                            <button class="btn btn-primary" type="button" id="btnComment">Bình luận</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                //GET COMMENT
                var comments = null;
                $(document).ready(() => {
                    $.ajax({
                        url: "getByID?id=" + currentID.value,
                        method: "GET"
                    }).then(
                        (data) => {
                            console.log(data.comment);
                            comments = data.comment;
                            getComment(comments)
                        }
                    )
                })
                console.log(comments);

                $("#previous").click(() => {
                    window.location.href = "/user/blog?id=" + previousID.value;
                })
                $("#next").click(() => {
                    window.location.href = "/user/blog?id=" + nextID.value;
                })
                $("#btnComment").click(createComment)
                function getComment(comments) {
                    comments.map((comment, index) => {
                        $("#comment").append(`
                           <div class="comment-detail">
                            <p>${comment.user}/ ${comment.date}</p>
                            <span>${comment.comment}</span>
                            <hr>
                            </div>
                        `)
                    })
                }
                function createComment() {
                    $.ajax({
                        url: "/user/comment",
                        method: "put",
                        data: {
                            username: username.value,
                            comment: usercomment.value,
                            date: (new Date().getDate()) + "/" + (new Date().getMonth()) + "/" + (new Date().getFullYear()),
                            _id: currentID.value
                        }
                    }).then((data) => {
                        console.log(data, "GIá trị trả về khi comment")
                        window.location.href = "/user/blog?id=" + currentID.value
                    })
                }
            </script>
            <%include ./components/footer.ejs%>

</body>

</html>